IMPORTAMOS LIBRERÍAS

In [2]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

IMPORTAMOS EL CSV DE UBEREATS QUE LIMPIAREMOS

In [6]:
ue = pd.read_csv("../Data/UberEats.csv", index_col = 0
ue.sample(15)

,Restaurante,Valoración,Nota,Delivery_Fee,ETA,Tag,Precio,Dirección,Barrio
274,La Cuchara,40,3.5,2.90,40–50,Gourmet,€,"C/ Orense, 11, 28020",Tetuán
470,Bar y Kebab La Parada,23,3.0,1.40,15–25,Kebab,€,"Calle De Embajadores, 28, 28012",Carabanchel
396,Fast chicken chain,15,3.5,2.90,50–60,Pollo,€,"Calle De Sta Engracia, 108, 28003",Moncloa-Aravaca
366,Super naan,15,3.5,1.40,60–70,India,€,"Calle Gran Vía, 16, 28004",Chamberí
581,Asador Delicasa,14,4.0,1.40,25–35,Carne,€,"Calle De Gutenberg 3, 28014",Puente de Vallecas
526,Alice Pizza,23,3.6,2.50,40–60,Pizza,€,"Calle De Méndez Álvaro 77, 28045",Usera
53,Cerveceria Riaño,28,3.1,2.90,45–55,Cerveza,€,"Calle De José Calvo 6, 28039",Centro
576,Comida Fusión,19,3.7,1.40,30–40,Fusión latina,€,"Avenida De Peña Prieta 22, 28038",Puente de Vallecas
535,Kaleka Poke,23,3.6,0.90,25–35,Kebab,€,"Paseo Molino, 7, 28045",Usera
296,Pollo Criollo,40,3.5,2.40,55–65,Pollo,€,"Calle De Lérida 58, 28020",Tetuán
457,Latin kebab,25,4.0,1.40,30–40,Kebab,€,"Calle Arechavaleta 6, 28041",Carabanchel
302,Busburguer,98,4.5,1.40,25–35,Hamburguesas,€,"Calle De José Abascal 31, 28003",Tetuán
34,Trek Taco,28,3.1,0.90,40–50,Empanada,€,"Calle De San Bernardino, 20, 28015",Centro
139,Popeyes,187,4.1,1.99,20–40,Pollo,€,"Calle De Mira El Sol 23b, 28005",Retiro
248,Tiendas 7x24,140,4.8,2.90,30–40,Opciones para alergias,€,"Calle Maldonado 07, 28006",Chamartín

In [32]:
for col in ue:
    print(col)
    print(" ")
    print(ue[col].value_counts())
    print("-" * 30)

Restaurante

Empanadas BAIRES    13
Papa John's         13
McDonald's          12
Popeyes             11
Arepish             11
                    ..
Popizza              1
La Manousheria       1
Burger Las Vegas     1
Crepes & Waffles     1
Filippo Pizza        1
Name: Restaurante, Length: 251, dtype: int64
------------------------------
Valoración

200    84
23     48
30     38
15     37
40     37
       ..
194     1
78      1
145     1
63      1
80      1
Name: Valoración, Length: 82, dtype: int64
------------------------------
Nota

4.3    60
4.2    60
4.6    56
3.5    53
4.4    51
3.1    48
4.5    44
2.9    43
4.1    42
3.6    42
3.8    36
3.0    22
4.8    21
2.7    21
4.0    17
3.9    16
3.7    13
4.9    12
2.8    11
4.7    11
5.0     4
3.2     4
3.4     2
3.3     1
Name: Nota, dtype: int64
------------------------------
Delivery_Fee

2.40    165
1.90    131
1.40    122
0.90     85
2.90     67
2.50     27
0.40     19
1.00     12
3.00     12
4.25     11
3.40     11
2.99      8
5.00      5
2.00      3
1.99      3
2.60      3
3.90      3
2.49      3
Name: Delivery_Fee, dtype: int64
------------------------------
ETA

40–50     109
35–45      93
30–40      84
45–55      75
25–35      71
50–60      48
40–60      34
20–30      33
55–65      30
30–50      27
60–70      25
15–35      18
35–55      13
15–25      10
5–25        4
20–40       3
10–30       3
15–25       2
70–80       2
65–75       2
50–70       2
45–65       2
Name: ETA, dtype: int64
------------------------------
Tag

Pizza                      91
Pollo                      81
Hamburguesas               69
Kebab                      36
Empanada                   35
                           ..
Especialidades              1
Platos a base de harina     1
Fried Foods                 1
Sándwiches                  1
Cafetería                   1
Name: Tag, Length: 64, dtype: int64
------------------------------
Precio

€      599
€€      56
€€€     35
Name: Precio, dtype: int64
------------------------------
Dirección

Calle Del Pico De La Maliciosa 6,  28038                9
Calle Felipe Fraile 5,  28038                           8
Calle De La Alianza 33,  28041                          8
Calle Azulejo 2,  28028                                 8
Calle Zabaleta 1,  28002                                7
                                                       ..
Calle De Bravo Murillo, 206, 28020                      1
Calle De Huesca, 19, Bajo, 28020                        1
C.C. La Vaguada, Av. De Monforte De Lemos, 32, 28029    1
Avenida De Monforte De Lemos 36, 28029                  1
Calle Del Conde De Peñalver, 66, 28006                  1
Name: Dirección, Length: 377, dtype: int64
------------------------------
Barrio

Centro                54
Arganzuela            54
Retiro                54
Salamanca             54
Chamartín             54
Tetuán                54
Chamberí              54
Moncloa-Aravaca       54
Usera                 54
Puente de Vallecas    54
Moratalaz             54
Ciudad Lineal         54
Carabanchel           42
Name: Barrio, dtype: int64
------------------------------

In [32]:
barrio = pd.read_csv("../Data/Barrios_cifras.csv")
barrio.head(13)

,Superficie,Superficie.1,Densidad,Población,0 a 15,16 a 64,65 +,% 0 a 15,% 16 a 64,% 65 +,Esp,Extr,% Esp,% Extr,Nacim,Def,C Natural,€ m2
0,Centro,523,270,141236,10608,108667,21961,8%,77%,16%,104726,36509,74%,26%,863,1252,-389,4865
1,Arganzuela,646,239,154243,18571,105078,30594,12%,68%,20%,137604,16637,89%,11%,1142,1764,-622,3888
2,Retiro,546,217,118557,14443,73037,31077,12%,62%,26%,108277,10279,91%,9%,801,1627,-826,4502
3,Salamanca,539,271,146016,16147,95122,34747,11%,65%,24%,124068,21948,85%,15%,1150,1937,-787,5740
4,Chamartín,917,161,145700,19913,91663,34124,14%,63%,23%,130641,15059,90%,10%,1305,1899,-594,4999
5,Tetuán,537,297,159849,18293,111262,30294,11%,70%,19%,127202,32647,80%,20%,1353,1984,-631,3649
6,Chamberí,467,296,138667,14767,90307,33593,11%,65%,24%,121264,17403,87%,13%,1076,1785,-709,5283
7,Moncloa-Aravaca,4654,26,120834,17036,77360,26438,14%,64%,22%,106834,14000,88%,12%,936,1485,-549,3912
8,Carabanchel,1405,184,258633,36742,173880,48011,14%,67%,19%,202322,56311,78%,22%,1906,3057,-1151,2165
9,Usera,778,183,142454,21188,97802,23464,15%,69%,16%,107442,35010,75%,25%,1124,1554,-430,1942
10,Puente de Vallecas,1496,160,239057,32422,164930,41705,14%,69%,17%,190004,49051,79%,21%,1960,2779,-819,1887
11,Moratalaz,610,154,93810,10702,58667,24441,11%,63%,26%,83780,10030,89%,11%,586,1391,-805,2569
12,Ciudad Lineal,1143,190,216818,26603,140979,49236,12%,65%,23%,182762,34054,84%,16%,1491,2744,-1253,2912

In [12]:
ue.head(5)

,Restaurante,Valoración,Nota,Delivery_Fee,ETA,Tag,Precio,Dirección,Barrio
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, 28045",Centro
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, 28012",Centro
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, 28012",Centro
3,Scarlett Real Food,28,3.1,1.90,40–50,Postres,€,"C/ Preciados 36, 28013",Centro
4,La Tagliatella,15,3.9,0.90,25–35,Pizza,€,"Calle De Toledo 27, 28012",Centro